CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y

CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_usb-modeswitch-data=y

CONFIG_PACKAGE_firewall=m
CONFIG_PACKAGE_block-mount=m
CONFIG_PACKAGE_autofs5=m
CONFIG_PACKAGE_autofs5-mount-ext2=m
CONFIG_PACKAGE_ez-ipupdate-3322=m
CONFIG_PACKAGE_openldap-server=m
CONFIG_PACKAGE_openldap-utils=m
CONFIG_PACKAGE_rsync=m
CONFIG_PACKAGE_vim-small=m
CONFIG_PACKAGE_git=m
CONFIG_PACKAGE_openvpn=m
CONFIG_PACKAGE_wol=m
CONFIG_PACKAGE_wget=m
CONFIG_PACKAGE_lftp=m
CONFIG_PACKAGE_sudo=m
CONFIG_PACKAGE_gpioctl=m
CONFIG_PACKAGE_ntfs-3g=m
CONFIG_PACKAGE_NTFS-3G_USE_LIBFUSE=y
CONFIG_PACKAGE_kmod-ledtrig-heartbeat=m
CONFIG_PACKAGE_kmod-scsi-core=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-fs-xfs=m
CONFIG_PACKAGE_kmod-nls-cp437=m
CONFIG_PACKAGE_kmod-nls-utf8=m
CONFIG_PACKAGE_kmod-ipv6=m
CONFIG_PACKAGE_kmod-gpio-dev=m
